{{ if and (eq .chezmoi.os "darwin") .privileged -}}
#!/bin/bash
set -euo pipefail

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
